@model UserModel;
@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Web 1920 – 3</title>
    
<
       
</head>
<body>

<div class="text-center">
    <h1>Welcome To Access Bank</h1><br />
    <div>
        <h3>
         Making a difference
         more than banking
          </h3>
        <p>Access all your Access Bank services through the most convenient mediums,<br /> encourage a sense of ownership in all aspects of our business and develop requisite professional and ethical behavioural standards.</p>

    </div>
      

    
       <p>
           <a href="@Url.Action("Register_Customer","Home")">Sign up</a>
       </p>
        <p><a href="@Url.Action()"><span>Login</span></a></p>
       
        
</body>
</html>
