@model UserModel;
@{
    ViewData["Title"] = "Privacy Policy";
}


<h3>Privacy Policy.</h3>
<div>
<P>
    We care about your privacy.

    www.accessbankplc.comis not an email service, but a corporate website. Registration is not required on this corporate website, but is available to visitors interested in receiving our newsletters and email updates.


    This Online Privacy Policy explains what information we collect, how we collect, share, use, and protect your personal information when you visit or use this site and other services offered by Access Bank Plc.  As an Access Bank customer, be assured that we will keep protecting your information as we have always done.

    Access Bank’s customers have the opportunity to make choices about how their personal information may be shared, and we encourage you to make choices that enable us to provide you with quality products and services that help you meet your financial needs.
</P>
</div>

<div>
<h4>
    Security of personal information
</h4>
<p> Safeguarding your personal information is our main concern. We maintain physical, electronic and procedural safeguards that comply with applicable federal laws to secure your information from unauthorized access and use, accidental or unlawful alteration and destruction; and other unlawful or unauthorized forms of processing.</p>
</div>
<h4>Individual Responsibility</h4>
<p>
    Individuals are responsible for making sure the information provided to the Bank is accurate and should inform the Bank on any changes as it occurs, this will enable us to update your information with us.
</p>




